{% extends 'base.html' %} {% load static %} {% block content %}

<head>
  <link rel="stylesheet" href="{% static 'projeto/css/new.css' %}" />
</head>

<div class="interface">
  <!-- Title -->
  <br />
  <div class="line"></div>
  <div class="title"><p>Game of Colors</p></div>
  <br />

  <span class="line2">
    <h4 style="padding-left: 10px; padding-right: 10px;">
      Clique em uma cor:
    </h4>
  </span>
  <br /><br />
  <!-- modal -->
  <div class="container">
    <img
      data-toggle="modal"
      data-target="#myModal"
      src="https://img.icons8.com/plasticine/100/000000/help.png"
    />
  </div>

  <!-- Modal -->
  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">Help</h3>
          <button type="button" class="close" data-dismiss="modal">
            &times;
          </button>
        </div>
        <div class="modal-body">
          <p>
            Clique em uma cor e ouça como se fala em inglês e veja como se
            escreve.
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Balls -->
  <div class="container">
    <div class="container-balls">
      <div class="row cores">
        <div class="item cor">
          <img
            id="foto1"
            class="foto"
            src="{% static 'projeto/img/colors/red.png' %}"
            alt="Red"
            draggable="false"
            onclick="MudaBola(this.src, this.alt)"
          />
        </div>
        <div class="item cor">
          <img
            id="foto2"
            class="foto"
            src="{% static 'projeto/img/colors/blue.png' %}"
            alt="Blue"
            draggable="false"
            onclick="MudaBola(this.src, this.alt)"
          />
        </div>
        <div class="item cor">
          <img
            id="foto2"
            class="foto"
            src="{% static 'projeto/img/colors/black.png' %}"
            alt="Black"
            draggable="false"
            onclick="MudaBola(this.src, this.alt)"
          />
        </div>
        <div class="item cor">
          <img
            id="foto2"
            class="foto"
            src="{% static 'projeto/img/colors/green.png' %}"
            alt="Green"
            draggable="false"
            onclick="MudaBola(this.src, this.alt)"
          />
        </div>
      </div>
      <div class="row cores">
        <div class="item cor">
          <img
            id="foto2"
            class="foto"
            src="{% static 'projeto/img/colors/orange.png' %}"
            alt="Orange"
            draggable="false"
            onclick="MudaBola(this.src, this.alt)"
          />
        </div>
        <div class="item cor">
          <img
            id="foto2"
            class="foto"
            src="{% static 'projeto/img/colors/pink.png' %}"
            alt="Pink"
            draggable="false"
            onclick="MudaBola(this.src, this.alt)"
          />
        </div>
        <div class="item cor">
          <img
            id="foto2"
            class="foto"
            src="{% static 'projeto/img/colors/yellow.png' %}"
            alt="Yellow"
            draggable="false"
            onclick="MudaBola(this.src, this.alt)"
          />
        </div>
        <div class="item cor">
          <img
            id="foto2"
            class="foto"
            src="{% static 'projeto/img/colors/brown.png' %}"
            alt="Brown"
            draggable="false"
            onclick="MudaBola(this.src, this.alt)"
          />
        </div>
      </div>
    </div>

    <script src="{% static 'projeto/js/som.js' %}"></script>

    <br /><br /><br />
    <div class="answer"></div>
    <div class="anwer-container">
      <div class="answer-img">
        <img
          id="img_destaque"
          src="{% static 'projeto/img/wizard.png' %}"
          draggable="false"
          alt="Imagem selecionada"
          title="Imagem selecionada"
        />
        <p id="texto_destaque" style="color: white;">Color</p>
        <audio id="audio"></audio>
      </div>

      <input
        class="btn btn-primary col-lg-3"
        type="reset"
        value="Limpar"
        onclick="location.reload();"
      />
      <div id="robot-container">
        <img
          src="{% static 'projeto/img/mascote/robot_feliz.png' %}"
          style="width: 150px"
          id="robot-img"
        />

        <a class="text-light" href="{% url 'tente_vc' %}">
          <button class="btn btn-primary botao col-lg-2">
            Tente Você!!
          </button>
        </a>
      </div>
    </div>
  </div>
  <br />
</div>
{% endblock content %}
